.pagination {
    display: flex;
    justify-content: center;
    margin: 20px 0;
  }
  
  .pagination button {
    margin: 0 10px;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .pagination span {
    align-self: center;
  }
  